body{
	margin: 0px;
	background:  linear-gradient(to right, #b41b17 20%, black 55%);
}

header{
	position: sticky;
	top:0;
	margin-top: -100px;
	background:
	repeating-linear-gradient(220deg, rgba(0, 0, 0, 0.1) 40px,
        rgba(0, 0, 0, 0.1) 200px, rgba(0, 0, 0, 0.1) 120px,
        rgba(225, 255, 225, 0.1) 160px, rgba(0, 0, 0, 0.01) 200px,
        rgba(225, 225, 225, 0.01) 240px, rgba(0, 0, 0, 0.1) 280px,
        rgba(0, 0, 0, 0.1) 300px),
      repeating-linear-gradient(-185deg, rgba(0, 0, 0, 0.1) 30px,
        rgba(0, 0, 0, 0.1) 60px, rgba(0, 0, 0, 0.1) 300px,
        rgba(0, 0, 0, 0.1) 120px, rgba(0, 0, 0, 0.1) 150px,
        rgba(0, 0, 0, 0.01) 180px, rgba(0, 0, 0, 0.01) 210px,
        rgba(0, 0, 0, 0.1) 230px),
       repeating-linear-gradient(23deg, rgba(0, 0, 0, 0.1) 400px,
        rgba(0, 0, 0, 0.1) 300px, rgba(0, 0, 0, 0.1) 90px,
        rgba(0, 0, 0, 0.1) 120px, rgba(0, 0, 0, 0.1) 150px,
        rgba(0, 0, 0, 0.1) 180px, rgba(0, 0, 0, 0.1) 210px,
        rgba(255, 225, 225, 0.01) 230px),
       repeating-linear-gradient(200deg, rgba(0, 0, 0, 0.1) 40px,
        rgba(255, 255, 255, 0.01) 80px, rgba(255, 255, 255, 0.01) 120px,
        rgba(225, 255, 225, 0.1) 160px, rgba(225, 225, 255, 0.1) 200px,
        rgba(225, 225, 225, 0.01) 200px, rgba(225, 225, 225, 0.01) 280px,
        rgba(255, 225, 225, 0.1) 300px),
      repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 30px,
        rgba(0, 0, 0, 0.1) 60px, rgba(0, 0, 0, 0.1) 90px,
        rgba(0, 0, 0, 0.1) 120px, rgba(0, 0, 0, 0.01) 150px,
        rgba(0, 0, 0, 0.01) 180px, rgba(0, 0, 0, 0.1) 210px,
        rgba(0, 0, 0, 0.1) 230px),
       repeating-linear-gradient(32deg, rgba(0, 0, 0, 0.1) 400px,
        rgba(0, 0, 0, 0.01) 300px, rgba(0, 0, 0, 0.01) 90px,
        rgba(0, 0, 0, 0.01) 120px, rgba(0, 0, 0, 0.01) 150px,
        rgba(0, 0, 0, 0.01) 180px, rgba(0, 0, 0, 0.1) 210px,
        rgba(0, 0, 0, 0.01) 230px),
       repeating-linear-gradient(57deg, rgba(0, 0, 0, 0.1) 40px,
        rgba(0, 0, 0, 0.1) 200px, rgba(0, 0, 0, 0.01) 120px,
        rgba(225, 255, 225, 0.01) 160px, rgba(0, 0, 0, 0.1) 200px,
        rgba(225, 225, 225, 0.1) 240px, rgba(0, 0, 0, 0.1) 280px,
        rgba(0, 0, 0, 0.01) 300px),
       repeating-linear-gradient(-57deg, rgba(0, 0, 0, 0.01) 10px,
        rgba(0, 0, 0, 0.1) 120px, rgba(0, 0, 0, 0.01) 20px,
        rgba(225, 255, 225, 0.01) 60px, rgba(0, 0, 0, 0.1) 101px,
        rgba(225, 225, 225, 0.01) 240px, rgba(0, 0, 0, 0.1) 80px,
        rgba(0, 0, 0, 0.01) 190px),
       linear-gradient(to right, #b41b17 20%, black 55%);
}

.header_design{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-between;
	margin-top: -148px;
	border: solid;
	border-color: rgba(225,225,225,0.03);
	border-left-style: none;
	border-right-style: none;
	background: linear-gradient(to right, rgba(180,27,23,0.2) 20%, rgba(0,0,0,0.2) 55% );
	
}

.nav{
	margin: 10px;
}

h1{
	text-align: center;
	color: white;
	font-size: 130px;
	font-family: 'Six Caps' ;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 0 auto;
	
}

a{
	text-decoration: none;
}

.imagebox{
	display: flex;
	justify-content: center;
	margin-bottom: -100px;
	margin-top: 10px;

}

.imagebox img{
	 width: 40%;
	 max-width: 400px;
 	 height: auto;
}

.acting{
	text-align: right;
}

nav a{
	font-size: 20px;
	text-decoration: none;
	font-family: 'Archivo Narrow' ;
	text-transform: uppercase;

}

.acting a{
		color: grey;
}

.cosplay a{
		color: black;
		font-weight: bold;
}

nav a:hover{
	color: white;
	text-decoration: underline;
}

li{
	color: gray;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.whitebackground1{
	background: white;
	border-style: double;
	border-width: 10px;
	border-bottom-style: none;
	padding: 10px;
	padding-bottom: 0;
	height: 100px;
	margin-bottom: -10px;
}

.whitebackground2{
	padding: 10px;
	background: white;
	border-style: double;
	border-width: 10px;
	border-bottom-style: none;
	border-top-style: none;
	margin-top: 100px;
	min-height: 300px;
	
}

.whitebackground3{
	background: white;
	border-style: double;
	border-width: 10px;
	border-bottom-style: none;
	padding: 10px;
	padding-bottom: 0;
	margin-bottom: -10px;
	margin-top: 200px;
}

.whitebackgroundcostume{
	background: white;
	border-style: double;
	border-width: 10px;
	border-bottom-style: none;
	padding: 10px;
	padding-bottom: 0;
	margin-bottom: -10px;
	margin-top: 20px;
}

h2{
	display: inline-block;
}

h3{
	float: right;
}

section{
	margin-top: 50px;
}

.fillerbox{
	    text-align: center;
    background: white;
    border-style: double;
    border-width: 10px;
    border-top-style: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: -3;
    height: 50%;
}

footer{
	text-align: center;
    background: white;
	border-style: double;
	border-width: 10px;
	border-top-style: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.notes{
	text-align: center;
	color: red;
}

.cosplays{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

figcaption{
	font-family: 'Archivo Narrow' ;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.costumes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.costumeimgs figcaption{
	color: white;
	font-family: 'Six Caps' ;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 50px;
}


@media only screen and (max-height: ) {
  body {